<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6CoKps6aQlJbT7oRK61yi3i149iDhJUs</string>
	<key>GCM_SENDER_ID</key>
	<string>251639309825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thuphuongspa.ezspa</string>
	<key>PROJECT_ID</key>
	<string>thu-phuong-spa</string>
	<key>STORAGE_BUCKET</key>
	<string>thu-phuong-spa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251639309825:ios:91d96336a6dfd9dbd30200</string>
	<key>DATABASE_URL</key>
	<string>https://thu-phuong-spa-default-rtdb.firebaseio.com</string>
</dict>
</plist>